@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}

header {
    position:fixed;
    top: auto;
    width: 100%;
    height: 10%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    z-index: 10;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 20px;
    border: 3px;
    border-style: solid;
    border-radius: 50vh;
    border-color: #8cd396;
    transition: all 0.3s ease 0s;
}

.nav_links li:hover {
    background-color: #8cd396;
}

.nav_links li:hover a{
color: white;}

.nav_links li a {
    color: #06191D;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1920px) {
    .logo {
        width: 10%;
    }
    li, a {
        font-size: 20px;
    }
    header {
        padding: 25px 4%;
    }
}
@media screen and (max-width: 1280px) {
    .logo {
        width: 10%;
    }
    li, a {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .logo {
        display: none;
    }
    li, a {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    li, a {
        font-size: 14px;
    }
    .nav_links li {
        padding: 10px 25px;
    }
}
@media screen and (max-width: 700px) {
    li, a {
        font-size: 12px;
    }
    .nav_links li {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 600px) {
    li, a {

        font-size: 10px;
    }
    .nav_links li {
        padding: 10px 10px;
    }
}