@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.homeContainer {
    font-size:xx-large;
    top: auto;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
}
.homeTextDescription{

}

.headerMock {
    padding: 4%;
}
.homeCharacter {
    padding: 5%;
}

button{
    display: inline-block;
    padding: 10px 30px;
    margin: 50px 0px;
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    border: 3px;
    border-style: solid;
    border-radius: 50vh;
    border-color: #8cd396;
    background-color: white;
    transition: all 0.3s ease 0s;
}
button:hover{
  color: white;
    background-color: #8cd396;
}

@media screen and (max-width: 1920px) {
    .homeContainer {
        font-size:x-large;
    }
    .homeCharacter {
        width: 30%;
    }
    button{
        font-size: 20px;
    }
}
@media screen and (max-width: 1280px) {
    .homeContainer {
        font-size:x-large;
    }
    .homeDescription{
        margin: 15% 0%;
    }
    button{
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .homeContainer {
        font-size:large;
    }
    .homeDescription{
        margin: 10% 0%;
    }
    button{
        font-size: 16px;
    }
    .headerMock {
        padding: 8%;
    }
}
@media screen and (max-width: 800px) {
    .homeCharacter {
        display: none;
    }
    button{
        font-size: 14px;
    }
    .headerMock {
        padding: 12%;
    }
}

@media screen and (max-width: 500px) {
    .homeContainer {
        font-size:medium;
    }
    .headerMock {
        padding: 14%;
    }
}